<template>
  <div>
    <v-container fluid>
      <div class="row">
        <v-card class="col-sm-10">
          <h2>Add/Edit Staff</h2>
          <b-modal ref="my-modal" hide-footer title="Success">
            <div class="d-block text-center">
              <h3>Staff Saved Successfully</h3>
            </div>
            <div class="pull-right">
              <button class="btn btn-success" v-show="DoingInsert" @click="StayOnPage">Add New</button>
              <button class="btn btn-default" @click="BackToList">Staff List</button>
            </div>
          </b-modal>
          <pulse-loader :loading="!showForm" :color="'purple'"></pulse-loader>
          <form v-show="showForm" @submit.prevent="Save">
            <table class="table">
              <tr>
                <td>
                  <v-text-field label="Lastname" name="lastname" v-model="form.lastname" required></v-text-field>

                  <div class="red--text" v-if="data_errors.lastname">{{data_errors.lastname[0]}}</div>
                </td>

                <td>
                  <v-text-field label="Firstname" v-model="form.firstname" required></v-text-field>

                  <div class="red--text" v-if="data_errors.firstname">{{data_errors.firstname[0]}}</div>
                </td>
              </tr>
              <tr>
                <td>
                  <v-text-field label="Middle name" v-model="form.middlename"></v-text-field>

                  <div class="red--text" v-if="data_errors.middlename">{{data_errors.middlename[0]}}</div>
                </td>

                <td>
                  <v-text-field
                    :disabled="'user_id' in form && form.user_id!=null"
                    label="Email"
                    type="Email"
                    name="email"
                    v-model="form.email"
                    required
                  ></v-text-field>

                  <div class="red--text" v-if="data_errors.email">{{data_errors.email[0]}}</div>
                </td>
              </tr>

              <tr>
                <td>
                  <v-text-field label="Address" v-model="form.address" required></v-text-field>

                  <div class="red--text" v-if="data_errors.address">{{data_errors.address[0]}}</div>
                </td>
                <td>
                  <v-text-field label="Phone" v-model="form.phone" required></v-text-field>

                  <div class="red--text" v-if="data_errors.phone">{{data_errors.phone[0]}}</div>
                </td>
              </tr>
              <tr>
                <td>
                  <v-select
                    style="max-width:250px"
                    :rules="[v => !!v || 'Role is required']"
                    :items="roles"
                    label="Role"
                    item-text="name"
                    item-value="id"
                    v-model="form.role_id"
                    required
                  ></v-select>

                  <div class="red--text" v-if="data_errors.role">{{data_errors.role[0]}}</div>
                </td>
                <td>
                  <v-checkbox v-model="form.activated" :label="`Activated`"></v-checkbox>
                </td>
              </tr>
            </table>
            <v-card-actions>
              <v-spacer></v-spacer>
              <input type="submit" :disabled="!isValid" value="Save" class="btn btn-primary" />
              <button class="btn btn-default" @click="BackToList">Cancel</button>
            </v-card-actions>
          </form>
        </v-card>
      </div>
    </v-container>
  </div>
</template>

<script>
import Config from "../../helpers/Config";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
export default {
  components: { PulseLoader },
  created() {
    axios
      .get(Config.getBaseUrl() + "api2/roles")
      .then(res => {
        this.roles = res.data;
      })
      .catch(err => {
        console.log(err.data);
      });

    if (this.$route.query.id != null) {
      this.DoingInsert = false;
      this.showForm = false;
      let id = this.$route.query.id;
      axios
        .get(Config.getBaseUrl() + "api2/staff/" + id)
        .then(res => {
          this.form = res.data.data;
          this.showForm = true;
        })
        .catch(err => {
          console.log(err.data);
        });
    } else {
      //we are doing an insert
    }
  },
  mounted() {
    //this.$refs["my-modal"].show();
  },
  //   props: ["question"],
  data() {
    return {
      roles: [],
      form: {
        lastname: null,
        firstname: null,
        middlename: null,
        email: null,
        address: null,
        activated: true,
        phone: null,
        role_id: null
      },
      isValid: false,
      DoingInsert: true,
      data_errors: {},
      showForm: true
    };
  },
  watch: {
    form: {
      handler: function(old, nue) {
        //console.log("watcher fired");
        this.ValidateForm();
      },
      deep: true
    }
  },
  methods: {
    Cancel() {
      //EventBus.$emit("cancelEditing");
      //redirect
    },
    BackToList() {
      this.$router.push("/admin/staff");
    },
    StayOnPage() {
      this.$refs["my-modal"].hide();
    },
    Save() {
      this.data_errors = {};
      if (this.DoingInsert) {
        axios
          .post(Config.getBaseUrl() + "api2/staff/create", this.form)
          .then(res => {
            console.log(res.data);
            this.$refs["my-modal"].show();
            //clear form
            this.form = {
              lastname: null,
              firstname: null,
              middlename: null,
              email: null,
              address: null,
              phone: null,
              role_id: null
            };
          })
          .catch(error => {
            if (error.response) {
              console.log(error.response.data);
              this.data_errors = error.response.data.errors;
            } else if (error.request) {
              console.log(error.request);
            } else {
              console.log("Error", error.message);
            }
          });
      } else {
        axios
          .post(
            Config.getBaseUrl() + "api2/staff/update/" + this.form.id,
            this.form
          )
          .then(res => {
            console.log(res.data);
            this.$refs["my-modal"].show();
          })
          .catch(error => {
            if (error.response) {
              console.log(error.response.data);
              this.data_errors = error.response.data.errors;
            } else if (error.request) {
              console.log(error.request);
            } else {
              console.log("Error", error.message);
            }
          });
      }
    },
    ValidateForm() {
      if (
        this.form.firstname !== null &&
        this.form.lastname !== null &&
        this.form.address !== null &&
        this.form.email !== null &&
        this.form.phone !== null &&
        this.form.role_id !== null
      ) {
        this.isValid = true;
      } else {
        this.isValid = false;
      }
    }
  }
};
</script>

<style>
</style>
