<template>
  <div>
    <b-modal ref="my-modal" hide-footer title="Confirm Action">
      <div class="d-block text-center">
        <h3>Are you sure you want to delete this staff?</h3>
        <pulse-loader :loading="showDeleteLoader" :color="'purple'"></pulse-loader>
      </div>
      <div class="pull-right">
        <button class="btn btn-danger" @click="DeleteStaff">Delete</button>
        <button class="btn btn-default" @click="Dismiss">Cancel</button>
      </div>
    </b-modal>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-close"></div>
          <div class="card-header">
            <h3 class="h4">All Staff</h3>
            <span class="pull-right">
              <router-link :to="'/admin/staff/edit-staff'" class="btn btn-primary">Add New</router-link>
            </span>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <pulse-loader :loading="staff.length<=0" :color="'purple'"></pulse-loader>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Login</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="s in staff" :key="s.id">
                    <td>{{s.fullname}}</td>
                    <td>{{s.email}}</td>
                    <td>{{s.role}}</td>
                    <td style="font-size:.8em">
                      Created: {{s.user_id===null?'No':'Yes'}} |
                      Active: {{s.activated===1?'Yes':'No'}}
                    </td>
                    <td>
                      <router-link
                        :to="'/admin/staff/edit-staff?id='+s.id"
                        class="btn btn-primary btn-sm"
                      >Edit</router-link>
                      <button
                        v-if="s.user_id===null"
                        @click="doDelete(s.id)"
                        class="btn btn-danger btn-sm"
                      >Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Config from "../../helpers/Config";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
export default {
  components: { PulseLoader },
  created() {
    axios
      .get(Config.getBaseUrl() + "api2/staff")
      .then(res => {
        this.staff = res.data.data;
      })
      .catch(err => {
        console.log(err.data);
      });
  },
  methods: {
    doDelete(id) {
      this.$refs["my-modal"].show();
      this.active = id;
    },
    DeleteStaff() {
      this.showDeleteLoader = true;
      axios
        .post(Config.getBaseUrl() + "api2/staff/delete", { id: this.active })
        .then(res => {
          console.log(res.data);
          this.staff.splice(
            this.staff.findIndex(i => {
              return i.id === this.active;
            }),
            1
          );
          this.showDeleteLoader = false;
          this.$refs["my-modal"].hide();
        })
        .catch(error => {
          this.showDeleteLoader = false;
          if (error.response) {
            console.log(error.response.data);
            this.data_errors = error.response.data.errors;
          } else if (error.request) {
            console.log(error.request);
          } else {
            console.log("Error", error.message);
          }
        });
    },
    Dismiss() {
      this.$refs["my-modal"].hide();
    }
  },
  data() {
    return {
      staff: [],
      active: 0,
      showDeleteLoader: false,
      baseUrl: Config.getBaseUrl
    };
  }
};
</script>
<style>
</style>