<template>
  <div class="col-sm-10">
    <div class="card">
      <div class="card-header">
        <h2>Add Invoice</h2>
        <p class="pull-right">
          <button class="btn btn-default btn-sm" @click="BackToList">Back</button>
        </p>
        <p v-if="hasCustomer">Customer: {{customer.fullname}}</p>
      </div>
      <b-modal ref="my-modal" hide-footer title="Success">
        <div class="d-block text-center">
          <h3>Transaction Added. Code: #{{transactionCode}}</h3>
        </div>
        <div class="pull-right">
          <button class="btn btn-success btn-sm" @click="BackToList">Transactions</button>

          <button class="btn btn-default btn-sm" @click="AddNew">Add New</button>

          <button class="btn btn-primary btn-sm" @click="ViewInvoice">View</button>
          
          <button class="btn btn-primary btn-sm" @click="PrintInvoice">Print</button>
        </div>
      </b-modal>
      <div class="card-body">
        <pulse-loader :loading="items.length<=0" :color="'purple'"></pulse-loader>
        <table class="table">
          <tr>
            <th>Product/Service</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
          <tr>
            <td style="width:350px;">
              <v-select2 v-model="valueToAdd" label="name" :options="items"></v-select2>
            </td>
            <td>{{(valueToAdd?valueToAdd.amount:'')}}</td>
            <td style="width:140px;">
              <v-select2 v-model="quantity" label="number" :options="numbers_array"></v-select2>
            </td>
            <td>
              <button @click="AddItemToList" :disabled="!valueToAdd" class="btn btn-primary">Add</button>
            </td>
          </tr>
          <tr>
            <td style="width:350px;">
              <v-textarea
                rows="2"
                v-model="newItem.name"
                solo
                name="new_item"
                label="type product(s) or service(s)"
              ></v-textarea>
            </td>
            <td style="width:70px;">
              <input
                v-model="newItem.price"
                min="0"
                type="number"
                placeholder="amount"
                class="form-control"
              />
            </td>
            <td style="width:140px;">
              <v-select2 v-model="newItem.quantity" label="number" :options="numbers_array"></v-select2>
            </td>
            <td>
              <button
                @click="AddNewItemToList"
                :disabled="newItem.name=='' || newItem.price<=0"
                class="btn btn-primary"
              >Add</button>
            </td>
          </tr>
        </table>
        <div></div>
        <form @submit.prevent="Save">
          <table class="table table-striped" v-if="selectedItems.length>0">
            <tr>
              <td>
                <v-text-field
                  :disabled="hasCustomer"
                  label="Lastname"
                  type="text"
                  name="lastname"
                  v-model="customer.lastname"
                ></v-text-field>
              </td>
              <td>
                <v-text-field
                  :disabled="hasCustomer"
                  label="Firstname"
                  type="text"
                  name="firstname"
                  v-model="customer.firstname"
                  required
                ></v-text-field>
              </td>
              <td>
                <v-text-field
                  :disabled="hasCustomer"
                  label="Middlename"
                  type="text"
                  name="middlename"
                  v-model="customer.middlename"
                ></v-text-field>
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <v-text-field
                  :disabled="hasCustomer"
                  label="Phone"
                  type="text"
                  name="phone"
                  v-model="customer.phone"
                  required
                ></v-text-field>
              </td>

              <td>
                <v-text-field
                  :disabled="hasCustomer"
                  label="Address"
                  type="text"
                  name="address"
                  v-model="customer.address"
                  required
                ></v-text-field>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Due Date:</td>
              <td>
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="due_date"
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="due_date"
                      label="set due date"
                      prepend-icon="event"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="due_date" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                    <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                  </v-date-picker>
                </v-menu>
              </td>
              <td style="font-size:.8em">
                <v-checkbox v-model="includeVat" :label="'Include VAT ('+ vatPercentage + '%)'"></v-checkbox>
              </td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td>Items</td>
              <td>Amount</td>
              <td>Qnt.</td>
              <td>#</td>
              <td></td>
            </tr>
            <tr v-for="(item, index) in selectedItems" :key="index" style="background:#f2f2f2">
              <td>
                <span class="badge badge-info">{{ (index+1)}}</span>
                {{item.name}}
              </td>
              <td>{{item.amount}}</td>
              <td>{{item.quantity}}</td>
              <td>{{(item.amount * item.quantity)}}</td>
              <td>
                <button class="btn btn-danger btn-sm" @click="deleteTransaction(index)">
                  <i class="fa fa-remove"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>Subtotal</td>
              <td></td>
              <td></td>
              <th>{{subTotal}}</th>
              <td></td>
            </tr>
            <tr>
              <td>Discount</td>
              <td>
                <span class="m-error1" v-if="discount<0">discount cannot be less than 0</span>
                <input v-model="discount" min="0" type="number" class="form-control" />
              </td>
              <td></td>
              <td style="color:green">{{discount}}</td>

              <td></td>
            </tr>
            <tr v-if="includeVat" style="border:1px solid red">
              <td>VAT</td>
              <td></td>
              <td></td>
              <td>{{vatValue}}</td>

              <td></td>
            </tr>

            <tr>
              <th>Total</th>
              <th></th>
              <th></th>
              <th>{{total}}</th>
              <th></th>
            </tr>

            <tr>
              <th>
                Payment Status
                <span style="color:red">*</span>
              </th>

              <td>
                <select class="form-control" required v-model="paymentStatus">
                  <option value>Select Payment Status</option>
                  <option v-for="p in transactionStatuses" :key="p.id" :value="p.id">{{p.name}}</option>
                </select>
                <span v-if="paymentStatus>1">
                  <v-menu
                    ref="menu1"
                    v-model="menu1"
                    :close-on-content-click="false"
                    :return-value.sync="payment_date"
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="payment_date"
                        label="set payment date"
                        prepend-icon="event"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="payment_date" no-title scrollable>
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="menu1 = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.menu1.save(payment_date)">OK</v-btn>
                    </v-date-picker>
                  </v-menu>
                </span>
              </td>
              <th></th>
              <td>
                <span
                  class="m-error1"
                  v-if="paymentStatus===3 && amountPaid<=0"
                >amount paid cannot be 0</span>
                <span
                  class="m-error1"
                  v-if="paymentStatus===3 && (amountPaid>total)"
                >amount paid cannot be greater than the total</span>
                <v-text-field v-if="paymentStatus===3" v-model="amountPaid" label="Amount Paid"></v-text-field>
              </td>

              <td></td>
            </tr>
            <tr>
              <td>
                <span v-if="paymentStatus>1">
                  Payment Channel
                  <span style="color:red">*</span>
                </span>
              </td>
              <td>
                <span v-if="paymentStatus>1">
                  <select class="form-control" required v-model="paymentChannel">
                    <option value>Select Payment Channel</option>
                    <option v-for="p in paymentTypes" :key="p.id" :value="p.id">{{p.name}}</option>
                  </select>
                </span>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                Processed by:
                <br />
                <b>{{this.staff.fullname}}</b>
              </td>
              <td>
                <v-textarea
                  rows="2"
                  v-model="description"
                  solo
                  name="description"
                  label="Additional  Information (optional)"
                ></v-textarea>
              </td>
              <td>
                <pulse-loader :loading="PostRequestRunning" :color="'purple'"></pulse-loader>
              </td>
              <td>
                <input
                  type="submit"
                  :disabled="!paymentStatus||PostRequestRunning"
                  value="Save"
                  class="btn btn-primary"
                />
              </td>

              <td></td>
            </tr>
          </table>
        </form>

        <div
          class="alert alert-danger"
          v-if="data_errors!=null"
          type="error"
        >{{data_errors[Object.keys(data_errors)[0]]}}.</div>
      </div>
    </div>
  </div>
</template>
<script>
import Config from "../../helpers/Config";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import RotateLoader from "vue-spinner/src/RotateLoader";
import { isNumber } from "util";
export default {
  components: { PulseLoader, RotateLoader },

  created() {
    axios
      .get(Config.getBaseUrl() + "api2/items")
      .then(res => {
        this.items = res.data.data;
      })
      .catch(err => {
        console.log(err.data);
      });

    axios
      .get(Config.getBaseUrl() + "api2/user")
      .then(res => {
        this.staff = res.data.data;
      })
      .catch(err => {
        console.log(err.data);
      });

    axios
      .get(Config.getBaseUrl() + "api2/payment-types")
      .then(res => {
        this.paymentTypes = res.data.data;
      })
      .catch(err => {
        console.log(err.data);
      });

    axios
      .get(Config.getBaseUrl() + "api2/transaction-statuses")
      .then(res => {
        this.transactionStatuses = res.data.data;
      })
      .catch(err => {
        console.log(err.data);
      });

    axios
      .get(Config.getBaseUrl() + "api2/settings")
      .then(res => {
        this.settings = res.data.data;
        try {
          this.includeVat = this.settings[0].value === "0" ? false : true;
          this.vatPercentage = parseInt(this.settings[1].value);
        } catch (error) {}
      })
      .catch(err => {
        console.log(err.data);
      });

    for (let index = 1; index <= 1000; index++) {
      this.numbers_array.push({ number: index });
    }
    if (this.$route.query.id != null) {
      let id = this.$route.query.id;
      axios
        .get(Config.getBaseUrl() + "api2/customer?id=" + id)
        .then(res => {
          let c = res.data.data;
          if (c) {
            this.customer = res.data.data;
            this.customer_id = id;
            this.hasCustomer = true;
          }
        })
        .catch(err => {
          console.log(err.data);
        });
    }
  },
  data() {
    return {
      items: [],
      customer: {},
      selectedItems: [],
      valueToAdd: null,
      quantity: { number: 1 },
      numbers_array: [],
      due_date: new Date().toISOString().substr(0, 10),
      payment_date: new Date().toISOString().substr(0, 10),
      menu: false,
      menu1: false,
      includeVat: false,
      discount: 0,
      vatValue: 0,
      vatPercentage: 5 / 100,
      total: 0,
      subTotal: 0,
      paymentStatus: "",
      description: "",
      staff: {},
      settings: [],
      hasCustomer: false,
      customer_id: 0,
      erros: {},
      transactionCode: "",
      transactionStatuses: [],
      paymentTypes: [],
      amountPaid: 0,
      paymentChannel: null,
      newItem: { name: "", price: 0, id: -1, quantity: {number:1} },
      PostRequestRunning: false,
      data_errors: null
    };
  },
  watch: {
    selectedItems: {
      handler: function(old, nue) {
        this.CalculateTotal();
      },
      deep: true
    },
    includeVat: {
      handler: function(old, nue) {
        this.CalculateTotal();
      }
    },
    discount: {
      handler: function(old, nue) {
        this.CalculateTotal();
      }
    }
  },
  methods: {
    AddItemToList() {
      if (this.valueToAdd !== null) {
        this.selectedItems.push({
          name: this.valueToAdd.name,
          amount: this.valueToAdd.amount,
          item_id: this.valueToAdd.id,
          quantity: this.quantity.number
        });
        this.quantity = { number: 1 };
        this.valueToAdd = null;
      }
    },
    AddNewItemToList() {
      if (this.newItem !== null) {
        this.selectedItems.push({
          name: this.newItem.name,
          amount: this.newItem.price,
          item_id: this.newItem.id,
          quantity: this.newItem.quantity.number
        });
        this.newItem.name = "";
        this.newItem.quantity = 1;
        this.newItem.price = 0;
        this.newItem.id = this.newItem.id - 1;
      }
    },
    deleteTransaction(i) {
      let newList = this.selectedItems.filter(function(item, index) {
        return index !== i;
      });
      this.selectedItems = newList;
    },
    CalculateTotal() {
      this.subTotal = this.selectedItems.reduce(
        (a, v) => a + v.quantity * v.amount,
        0
      );

      let totalAfterDiscount = this.subTotal - this.discount;
      this.vatValue = (totalAfterDiscount * this.vatPercentage) / 100;
      if (this.includeVat === true) {
        this.total = totalAfterDiscount + this.vatValue;
      } else {
        this.total = totalAfterDiscount;
      }
    },
    Save() {
      if (!this.validateDiscount()) return;
      if (!this.validateAmount()) return;
      if (!this.validateCustomer()) return;
      //customer,
      //why did I not use the spread operator here again? lol
      this.PostRequestRunning = true;
      this.data_errors = null;
      let payload = {
        amount: this.subTotal,
        discount: this.discount,
        vat_included: this.includeVat,
        vat_percentage: this.vatPercentage,
        total: this.total,
        description: this.description,
        transaction_status: this.paymentStatus,
        due_date: this.due_date,
        date_paid: this.payment_date,
        customer_id: this.customer_id,
        customer: this.customer,
        items: this.selectedItems,
        amount_paid: this.paymentStatus === 2 ? this.total : this.amountPaid,
        payment_channel: this.paymentChannel
      };
      axios
        .post(Config.getBaseUrl() + "api2/transaction/save", payload)
        .then(res => {
          console.log(res.data);
          this.PostRequestRunning = false;
          this.$refs["my-modal"].show();
          this.transactionCode = res.data.code;
          this.selectedItems = [];
        })
        .catch(error => {
          if (error.response) {
            console.log(error.response.data);
            this.data_errors = error.response.data.errors;
          } else if (error.request) {
            console.log(error.request);
          } else {
            console.log("Error", error.message);
          }
          this.PostRequestRunning = false;
        });
    },
    validateDiscount() {
      try {
        let discount = parseInt(this.discount);
        if (discount < 0) {
          alert("Discount cannot be less than 0");
          return false;
        }
        if (discount > this.subTotal) {
          alert("Discount cannot be greater than the price of goods/services");
          return false;
        }
      } catch (error) {
        return false;
      }
      return true;
    },

    validateAmount() {
      try {
        let amountPaid = parseInt(this.amountPaid);
        if (amountPaid < 0) {
          alert("Amount paid cannot be less than 0");
          return false;
        }
        if (amountPaid > this.total) {
          alert("Amount cannot be greater than the price of goods/services");
          return false;
        }
      } catch (error) {
        return false;
      }
      return true;
    },

    validateCustomer() {
      if (
        this.customer.firstname !== null &&
        this.customer.phone !== null &&
        this.customer.address !== null
      ) {
        return true;
      }
      alert("Please complete the customer information");
      return false;
    },
    BackToList() {
      window.location.replace(Config.getBaseUrl() + "payment");
    },
    AddNew() {
      window.location.reload(true);
    },
    ViewInvoice() {
      window.location.replace(
        Config.getBaseUrl() + "payment/invoice?code=" + this.transactionCode
      );
    },

    PrintInvoice(){
        window.open(
        Config.getBaseUrl() + "payment/invoice?print=true&code=" + this.transactionCode,
        '_blank'
      );
    }
  },

  computed: {}
};
</script>

<style >
.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: #5a3cb5;
}

.m-error1 {
  color: red;
  font-size: 0.8em;
}
</style>